{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.summary) }}
    {{ form_row(form.content) }}
    <button class="btn btn-sm btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
